* {
  margin: 0;
  padding: 0;
  font-family: "Arial Black", Gadget, sans-serif;
}

/* Div containing character divs */
.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: black;
  padding: 9px 14px 17px 14px;
}

/* Div containing character name and image */
.character {
  width: 140px;
  height: 92px;
  border: 1px solid black;
  text-align: center;

  border: 2px solid black;

  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 16px;
  letter-spacing: -2px;
  line-height: 19px;
  position: relative;

  background-size: 90% auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: grey;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: uppercase;
}

/* Border in each character div (Shows when highlighted) */
.active-border {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: grey;
  clip-path: polygon(100% 0, 0 0, 10px 4px, 136px 4px,
    136px 82px, 130px 88px, 4px 88px, 4px 10px,
    10px 4px, 0 0, 0 100%, 100% 100%);
}

/* Image displaying current character after characters-container */
.player1 img {
  width: 300px;
}
